#home:hover {
	background-color: #fff;
}

#portfolio:hover {
	background-color: #000;
	color: white;
}

#resume:hover {
	background-color: #fff;
	color: black;
}
#contact:hover {
	background-color: #000;
	color: white;
}
img {	
	margin-left: 50px;
	margin-right: auto;
	margin-top: 30px;
	height: auto;
	width: 70%;
	/*box-shadow: 10px 10px 5px grey;*/
}
#email {
	margin-left: 50px;
	font-size: 18px;
}
#first_para_intro {
	margin-top: 30px;
	padding-right: 150px;
	font-size: 20px;
	text-align: justify;
	color: white;
}
#last_para_intro {
	margin-bottom: 50px;
	font-size: 20px;
}
q {
	font-family: "Times", "Arial", sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #e59f09;

}

.author {
	font-style: italic;
	color: #e59f09;
	text-align: right;
}

@media (max-width: 500px) {
	img {
		width: 35%;
	}
	#first_para_intro {
		font-size: 10px;
	}
	#last_para_intro {
		font-size: 10px;
	}
	q {
		font-size: 13px;
	}
}
