#home:hover {
	background-color: #000;
}

#portfolio:hover {
	background-color: #fff;
	color: black;
}

#resume:hover {
	background-color: #000;
	color: white;
}
#contact:hover {
	background-color: #fff;
	color: black;
}
.works {
	display: flex;
	justify-content: center;
	font-family: Georgia, courier; 
	font-size: 40px;
	font-style: bold;
	color: #e0dc0b;
}

ol.works-list {
	margin-left: 50px;
	margin-right: 50px;
	padding-right: 200px;
	padding-left: 150px;

}
.more {
	display: flex;
	justify-content: center;
	font: 400 50px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
	
}