html{
  position:relative; 
  min-height: 100%;
}

body {
	/*background-image: url("images/tube.jpg");*/
	background-color: rgb(235, 235, 235);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica;
}

.navbar-brand {
	
	text-align: left;
	font-size: 25px;
	font-family: Georgia, Arial;
}


.nav {
	padding-top: 0px;
	padding-right: 40px;
	padding-left: 40px;

}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
	padding-top: 50px;
	color: black;
	background-color: white;
}

.navbar-inverse .navbar-nav>li>a {
	padding-top: 50px;

}

.navbar-inverse .navbar-brand {
	color: #887;
	height: 100px;
	padding-bottom: 5px;
	padding-top: 55px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 36px;
	line-height: 40px;
	text-decoration: underline;
}

p {
	font-family: Georgia, sans-serif;
}

#github{
	color: black;
	font-size: 40px;
	padding-right: 10px;
}

#github:hover{
	opacity: 0.5;
}

#linkedin:hover{
	opacity: 0.5;
}

#linkedin {
	color: #0274B3;
	font-size: 40px;
	padding-left: 10px;

}
.links {
	display: block;
	justify-content: center;
	text-align: center;
	padding-top: 20px;
}

.footer  {
	background-color: #222;
	vertical-align: center;
	position: absolute;
	left: 0; 
	right: 0; 
	bottom: 0;
	height: 80px;
}






